/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #FFD5E7;
}

/* TYPOGRAPHY */

h1 {
  font-size: 5.5rem;
  line-height: 1.1;
  margin: 0px 0px 0px 0px;
  color: #8E86D6;
}

h2 {
  font-size: 2rem;
  color: #8E86D6;
  font-weight: 400;
  display: inline-block;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 50px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  margin-bottom: 10px;
}

a {
  font-weight: 900;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
}

.main_tip {
  padding: 40px 0px 100px 0px;
}

.main_link{
  color: #8E86D6;
  font-size: 1.5rem;
  padding: 0px 10px 0px 10px;
}

.logo {
   margin-top: 0px;
   padding: 0px 10px 0px 10px;
}

.date {
  padding-left: 15px;
  font-weight: 400;
}

.tip, .date {
  margin-bottom: 0px;
  display: inline-block;
}

.main-tldr {
  margin: 30px 0px 20px 0px;
}

/*.old_tips {
  padding: 60px 0px 60px 0px;
}*/

.one {
  background-color: #BEF1F4;
}

.olds {
  padding-top: 50px;
}

.small_link {
  margin-bottom: 50px;
}


/*COLORS*/

.purple_background {
  background-color: #EBE8FF;
}

.purple_text {
  color: #8E86D6;
}

.teal_background {
  background-color: #D2F8FA;
}

.teal_text {
  color: #008088;
}

.green_background {
  background-color: #BEFCEE;
}

.green_text {
  color: #00A682;
}

.orange_background {
  background-color: #FDEDD3;
}

.orange_text {
  color: #D38200;
}

.pink_background {
  background-color: #FFD5E7;
}

.pink_text {
  color: #BF004C;
}

.blue_background {
  background-color: #CEF7FF;
}

.blue_text {
  color: #00809E;
}

.yellow_background {
  background-color: #FFFBC8;
}

.yellow_text {
  color: #EAD90D;
}

.lightgreen_background {
  background-color: #EAFFD1;
}

.lightgreen_text {
  color: #64B800;
}


